<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 	<session-factory name="Hibernate">
  		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  		<property name="hibernate.connection.password">4WWFU3kB</property>
  		<property name="hibernate.connection.url">jdbc:oracle:thin:@dijkstra.logti.etsmtl.ca:1521:LOG660</property>
  		<property name="hibernate.connection.username">equipe08</property>
  		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  		<property name="hibernate.default_schema">EQUIPE08</property>
  		<property name="hibernate.transaction.auto_close_session">false</property>
  		
  		<mapping resource="ca/etsmtl/log660/configuration/Adresse.hbm.xml"/>  		
  		<mapping resource="ca/etsmtl/log660/configuration/Annonce.hbm.xml"/> 
  		<!-- <mapping resource="ca/etsmtl/log660/configuration/Client.hbm.xml"/>   -->
  		<!-- <mapping resource="ca/etsmtl/log660/configuration/Employe.hbm.xml"/>  --> 
  		<mapping resource="ca/etsmtl/log660/configuration/Film.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Forfait.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Genre.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/InfoCredit.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Intervenant.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Langue.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Location.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Pays.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Personne.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Role.hbm.xml"/> 
  		<mapping resource="ca/etsmtl/log660/configuration/Scenariste.hbm.xml"/> 
  		
 	</session-factory>
 	
 	
</hibernate-configuration>