<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<display-name>UserLogin</display-name>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>ca.etsmtl.log660.servlets.UserLogin</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>FilmResearch</display-name>
		<servlet-name>FilmResearch</servlet-name>
		<servlet-class>ca.etsmtl.log660.servlets.FilmResearch</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Location</display-name>
		<servlet-name>Location</servlet-name>
		<servlet-class>ca.etsmtl.log660.servlets.Location</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewFilm</display-name>
		<servlet-name>ViewFilm</servlet-name>
		<servlet-class>ca.etsmtl.log660.servlets.ViewFilm</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FilmResearch</servlet-name>
		<url-pattern>/FilmResearch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Location</servlet-name>
		<url-pattern>/Location</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewFilm</servlet-name>
		<url-pattern>/ViewFilm</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
